html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
    background-image: url('../public/assets/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
app-component{
    overflow: auto;
}